.cvOutput {
  height: 1000px;
  padding: 50px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}
.cvHeader {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: none;
}
.nameOutput {
  display: flex;
}
.nameOutput > h2 {
  display: flex;
  align-items: center;
  font-size: 30px;
  margin: 0;
}
.technologies {
  margin-top: 10px;
}
.locationNumberEmail {
  display: flex;
  gap: 5px;
  font-size: 14px;
}
.experienceTitle {
  color: rgb(28, 96, 84);
  font-size: 1.1rem;
  margin-top: 15px;
}

.universityTitle {
  font-size: 0.9rem;
  margin-bottom: 5px;
  margin-top: 15px;
}
.degreeList {
  margin-top: 0;
  padding-left: 15px;
}

.dates {
  color: rgb(76, 132, 121);
  margin-top: 5px;
}
.jobTitle {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.jobDescription {
  margin: 0;
}
