body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cv-form {
  height: 80%;
  border: 2px solid red;
  padding: 50px;
}
.cv-output {
  height: 80%;
  border: 2px solid red;
  padding: 50px;
}
.personal-info-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.personal-info > input {
  height: 20px;
}

.experience-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 700px;
}

.education-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
button {
  display: flex;
  width: 50px;
  height: 25px;
}
.buttons {
  display: flex;
  width: 100px;
}
